<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/style-feng-app.css">
		<script src="../js/mui.min.js"></script>
		<script src="../js/base/linktrust.js"></script>
		<script src="../js/base/ajax.js"></script>
		<script src="../js/linktrust/loginController.js"></script>
		
	</head>
	<body style="background:url(../images/line.png) repeat-x; width: 100%; margin: auto;">
		
	<div class=" login-logo">
		
			<a href="#">
				<img src="../images/login-logo.png">
			</a>
	
	</div>
	

        <div style="" class="login">
		<form class="mui-input-group mui-input-group-top" style="border-bottom: 0px;">
		<div class="mui-input-row" style="border-bottom: 0px;">
			<label style="height: 55px;padding: 15px 0 15px 15px; color: #999;"><span class="mui-icon mui-icon-contact"></span></label>
			<input type="text" id="username" placeholder="请输入用户名" style="height: 55px;padding: 15px 15px;" class="mui-input-clear" >
		</div>		
		</form>
		<form class="mui-input-group mui-input-group-bottom" style="border-bottom: 0px;">
		<div class="mui-input-row" style="border-bottom: 0px;">
			<label style="height: 55px;padding: 15px 0 15px 15px; color: #999;"><span class="mui-icon mui-icon-locked"></span></label>
			<input type="password" id="password" placeholder="请输入密码"  style="height: 55px;padding: 15px 15px;" class="mui-input-clear">
		</div>		
		</form>
		
		
		</div>
		<div class="login-btn">
		<button id="btnLogin" class="mui-btn mui-btn-warning mui-btn-block">确 认</button>
		</div>
        <footer class="login-footer"><p>Copyright @ 2011-2015 湖南领信教育网络发展有限公司版权所有 湘ICP备14001031号</p>
</footer>
	</body>
</html>
